.footer-size-color {
  background-color: #4e4e4e;
  height: 140px;
}
.footer-text {
  color: #ffffff;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  align-items: center;
}

.container-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  gap: 30px;
}
.direction-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
}
.fa-brands {
  color: #ffffff;
  font-size: 40px;
}
