.footer-size-color {
  background-color: #4e4e4e;
  height: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer-text {
  color: #ffffff;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  align-items: center;
}

.container-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.direction-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
}
.fa-brands {
  color: #ffffff;
  font-size: 40px;
}
@media (min-width: 768px) {
  .boss-container,
  .position-text {
    width: 90%;
  }

  .footer-text {
    font-size: 18px;
  }
}

@media (min-width: 1024px) {
  .boss-container,
  .position-text {
    width: 960px;
  }

  .footer-size-color {
    height: 71px;
  }
  .container-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .tite-service-section {
    font-size: 36px;
    justify-content: left;
  }
}
