html {
  scroll-behavior: smooth;
}

.boss-container {
  margin: 0 auto;
  width: 95%;
}

/* rozpoczęcie nava */
.size-color {
  background-color: #4e4e4e;
  width: 100%;
  height: 50px;
  color: #ffffff;
  position: sticky;
  top: 0px;
  z-index: 9999;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  height: 100%;
}

.my-company-element {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}
.nav-list {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 46px;
  display: none;
}
.button-nav {
  cursor: pointer;
  text-decoration: none;
  color: #ffffff;
}
.disabled-button {
  cursor: not-allowed;
}

/* zaczęcie headera */

.size-header {
  width: 100%;
  height: 100vh;
  position: relative;
}
header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container-position {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.15);
}
.position-text {
  height: 100%;
  margin: 0 auto;
  width: 95%;
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-direction: column;
  color: #ffffff;
}

.text-quality-product {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  width: 76%;
}
.text-line {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
}

.button-ofert {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  width: 150px;
  height: 40px;
  border: 3px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 1s linear;
  text-decoration: none;
  color: white;
}
.button-ofert:hover {
  border: 3px solid white;
  background-color: white;
  color: black;
}

/* zaczęcie sekcji z specjalistami */

.specialist-section {
  padding: 50px 0px;
  width: 100%;
  height: 100%;
  background-color: #f1f1f1;
}
.employee-name {
  font-weight: 700;
}
.title-section-specialist {
  font-style: normal;
  font-weight: 700;
  font-size: 33px;
  line-height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 69px;
  color: #152d41;
}

.foto-specjalist {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.container-specialist {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  padding: 50px 0px;
 
}

.text-specialist-direction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}

/* rozpoczęcie maina */

.size-color-service-section {
  background-color: #405d78;
  width: 100%;
  padding: 50px 0px;
}

.tite-service-section {
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 42px;
  color: #ffffff;
  display: flex;
  justify-content: center;
}
.flex-box-service-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: 100%;
  gap: 35px;
  padding: 50px 0px;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 300px;
  height: 300px;
  background-color: #f1f1f1;
  position: relative;
  cursor: pointer;
}

.special-box {
  display: flex;
  position: absolute;
  top: -11px;
  left: -11px;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: #e07a64;
}

/* rozpoczęcie footera */
.footer-size-color {
  background-color: #4e4e4e;
  height: 140px;
}
.footer-text {
  color: #ffffff;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  align-items: center;
}

.container-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  gap: 30px;
}
.direction-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
}
.fa-brands {
  color: #ffffff;
}

@media (min-width: 768px) {
  .boss-container,
  .position-text {
    width: 90%;
  }
  .text-quality-product {
    width: 69%;
    font-size: 34px;
  }
  .text-line {
    font-size: 18px;
  }
  .button-ofert {
    font-size: 18px;
    width: 160px;
    height: 45px;
  }
  .title-section-specialist {
    font-size: 32px;
  }
  .tite-service-section {
    font-size: 32px;
  }
  .container-specialist {
    flex-direction: row;
  }
  .container-specialist-under {
    flex-direction: row-reverse;
  }
  .container-specialist-under {
    text-align: end;
  }
  .footer-text {
    font-size: 18px;
  }
  .nav-list {
    display: flex;
  }
}

@media (min-width: 1024px) {
  .boss-container,
  .position-text {
    width: 960px;
  }
  .container-specialist-under {
    gap: 60px;
  }
  .text-specialist-direction {
    font-size: 18px;
  }
  .text-quality-product {
    width: 60%;
    font-size: 36px;
  }
  .box {
    width: 290px;
    height: 290px;
    font-size: 24px;
    transition: all linear 0.5s;
  }
  .size-bonus-text {
    font-size: 18px;
  }
  .box:hover {
    transform: scale(1.05);
  }
  .footer-size-color {
    height: 71px;
  }
  .container-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .tite-service-section {
    font-size: 36px;
    justify-content: left;
  }
}